# AI in Medicine
From vectors and matrices to artificial intelligence

## Data Science - Basics I
### Python Programming: *numpy* and *pandas*

Instructor: Dominique Sydow, AG Volkamer, Charité

## 1. Aims of this talktorial/session

TBA

## 2. Learning goals

### Theory

* Data science - what is that?
* Python packages for data science
* The *numpy* library
* The *pandas* library

### Practical

* Dataset
* Read data with *pandas* as DataFrame
* Look at individual DataFrame components
* Look at data
* Subset data
* Group data
* Write data

## 3. References

* https://medium.com/dunder-data/how-to-learn-pandas-108905ab4955
* https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/#iloc-selection
* https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-6fcd0170be9c

## 4. Theory

### Data Science

TBA

### Python packages for data science

TBA

### The *numpy* library

#### Overview

* Role: TBA
* Website: TBA
> TBA
* Documentation: TBA
* Literature: TBA

#### Applications

TBA

### The *pandas* library

#### Overview

* Role: Data manipulation and analysis
* Website: https://pandas.pydata.org/
> *pandas* is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.
* Documentation: https://pandas.pydata.org/pandas-docs/stable/
* Literature: TBA

#### Applications

Taken from: https://medium.com/dunder-data/how-to-learn-pandas-108905ab4955

*pandas* is capable of many tasks including:

* Reading/writing many different data formats
* Selecting subsets of data
* Calculating across rows and down columns
* Finding and filling missing data
* Applying operations to independent groups within the data
* Reshaping data into different forms
* Combing multiple datasets together
* Advanced time-series functionality
* Visualization through matplotlib and seaborn

#### DataFrame and Series

The *pandas* library has two primary containers of data, the DataFrame and the Series. You will spend nearly all your time working with both of the objects when you use pandas. The DataFrame is used more than the Series, so let’s take a look at an image of it first.

![DataFrame anatomy](https://cdn-images-1.medium.com/max/1600/1*ZSehcrMtBWN7_qCWq_HiSg.png)
**Figure X**: DataFrame anatomy. Figure source: https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-6fcd0170be9c

## 5. Practical

In [1]:
import numpy as np
import pandas as pd

### Dataset

TBA

What you need to know about our dataset:

* Raw data `alzheimers_disease.csv`
* Column name description `dictionary.csv`
* Final columns of interest:
  * `TBA`
  * `TBA`
  * `TBA`

### Read data with *pandas* as DataFrame

TBA

In [2]:
data = pd.read_csv(
    './data/alzheimers_disease.csv', 
    delimiter=','
    # dtypes
)

/home/dominique/anaconda2/envs/aimed/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (16,17,18,99,100) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Look at data

#### DataFrame dimensionality

Show the number of columns and rows (= dimensionality/shape) of the table in the form of `(number of rows, number of columns)`

In [3]:
data.shape

(14532, 109)

Set the number of rows displayed in this Jupyter notebook.

In [4]:
pd.set_option('display.max_rows', 20)

#### DataFrame head/tail

Have a look at first few rows of the table.

In [5]:
data.head()  # data.head(10)

,RID,VISCODE,SITE,EXAMDATE,DX_bl,AGE,PTGENDER,PTEDUCAT,WORK,PTETHCAT,...,TAU_bl,PTAU_bl,FDG_bl,PIB_bl,AV45_bl,Years_bl,Month_bl,Month,M,update_stamp
0,2,bl,11,2005-09-08,CN,74.3,Male,16,technical writer and editor,Not Hisp/Latino,...,NaN,NaN,1.36665,NaN,NaN,0.000000,0.00000,0,0.0,2019-12-04 04:19:56.0
1,3,bl,11,2005-09-12,AD,81.3,Male,18,Secretary,Not Hisp/Latino,...,239.7,22.83,1.08355,NaN,NaN,0.000000,0.00000,0,0.0,2019-12-04 04:19:56.0
2,3,m06,11,2006-03-13,AD,81.3,Male,18,Elementary school teacher,Not Hisp/Latino,...,239.7,22.83,1.08355,NaN,NaN,0.498289,5.96721,6,6.0,2019-12-04 04:19:56.0
3,3,m12,11,2006-09-12,AD,81.3,Male,18,Communication,Not Hisp/Latino,...,239.7,22.83,1.08355,NaN,NaN,0.999316,11.96720,12,12.0,2019-12-04 04:19:56.0
4,3,m24,11,2007-09-12,AD,81.3,Male,18,Accounting,Not Hisp/Latino,...,239.7,22.83,1.08355,NaN,NaN,1.998630,23.93440,24,24.0,2019-12-04 04:19:56.0

Have a look at the last few rows of the table.

In [6]:
data.tail()  # data.tail(10)

,RID,VISCODE,SITE,EXAMDATE,DX_bl,AGE,PTGENDER,PTEDUCAT,WORK,PTETHCAT,...,TAU_bl,PTAU_bl,FDG_bl,PIB_bl,AV45_bl,Years_bl,Month_bl,Month,M,update_stamp
14527,6097,m24,99,2019-12-12,SMC,74.6,Male,18,RN,Not Hisp/Latino,...,NaN,NaN,NaN,NaN,1.004900,2.02053,24.1967,24,24.0,2019-12-14 04:20:30.0
14528,4706,m96,37,2019-12-16,EMCI,60.7,Male,14,painting contractor,Not Hisp/Latino,...,261.3,23.94,1.28876,NaN,0.946004,7.58385,90.8197,90,96.0,2019-12-17 04:20:22.0
14529,6136,m24,41,2019-12-03,CN,61.1,Male,12,Surgeon,Not Hisp/Latino,...,NaN,NaN,NaN,NaN,NaN,1.96851,23.5738,24,24.0,2019-12-17 04:20:25.0
14530,6610,m12,6,2019-11-26,LMCI,61.3,Male,10,Insurance Broker,Not Hisp/Latino,...,NaN,NaN,1.19248,NaN,NaN,1.01574,12.1639,12,12.0,2019-12-17 04:20:26.0
14531,6834,bl,16,2019-12-11,NaN,82.3,Female,16,NaN,Not Hisp/Latino,...,NaN,NaN,NaN,NaN,NaN,0.00000,0.0000,0,0.0,2019-12-17 04:20:26.0

#### DataFrame information

Get information about a DataFrame including the index dtype and column dtypes, non-null values and memory usage

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14532 entries, 0 to 14531
Columns: 109 entries, RID to update_stamp
dtypes: float64(87), int64(5), object(17)
memory usage: 12.1+ MB

![bla](https://pbpython.com/images/pandas_dtypes.png)

#### Descriptive statistics on DataFrame data

Use the describe method to see how the data is distributed (numerical features only!).

In [8]:
data.describe()

,RID,SITE,AGE,PTEDUCAT,APOE4,FDG,PIB,AV45,CDRSB,ADAS11,...,EcogSPOrgan_bl,EcogSPDivatt_bl,EcogSPTotal_bl,FDG_bl,PIB_bl,AV45_bl,Years_bl,Month_bl,Month,M
count,14532.000000,14532.000000,14529.000000,14532.000000,14311.000000,3630.000000,223.000000,2668.000000,10434.000000,10298.000000,...,7003.000000,7179.000000,7332.000000,10204.000000,152.000000,6748.000000,14532.000000,14532.000000,14532.000000,14531.000000
mean,2563.323218,77.022296,73.523622,16.052092,0.524562,1.205638,1.783161,1.189325,2.087407,11.497509,...,1.594829,1.780169,1.639910,1.248641,1.584260,1.193110,2.422059,29.005144,28.925475,28.746198
std,2050.550766,120.005597,7.015739,2.796145,0.651350,0.159013,0.422511,0.227371,2.851988,8.362519,...,0.813545,0.876843,0.685024,0.144250,0.303596,0.219290,2.559503,30.651094,30.620795,30.468485
min,2.000000,2.000000,0.000000,4.000000,0.000000,0.636743,1.095000,0.805364,0.000000,0.000000,...,1.000000,1.000000,1.000000,0.693671,1.155000,0.805364,0.000000,0.000000,0.000000,0.000000
25%,680.000000,21.000000,69.100000,14.000000,0.000000,1.108340,1.361250,1.007397,0.000000,6.000000,...,1.000000,1.000000,1.108110,1.160830,1.360000,1.015360,0.495551,5.934430,6.000000,6.000000
50%,2045.000000,41.000000,73.500000,16.000000,0.000000,1.218115,1.850000,1.106450,1.000000,9.330000,...,1.166670,1.500000,1.378380,1.256040,1.490000,1.108140,1.524980,18.262300,18.000000,18.000000
75%,4489.000000,116.000000,78.400000,18.000000,1.000000,1.310293,2.127500,1.353638,3.000000,15.000000,...,2.000000,2.250000,1.952613,1.339960,1.835000,1.359820,3.542780,42.426200,42.000000,42.000000
max,6837.000000,941.000000,91.400000,20.000000,2.000000,1.751210,2.927500,2.669210,18.000000,70.000000,...,4.000000,4.000000,3.948720,1.701130,2.282500,2.025560,14.086200,168.689000,168.000000,168.000000

Get a list of the columns names.

In [9]:
data.columns

Index(['RID', 'VISCODE', 'SITE', 'EXAMDATE', 'DX_bl', 'AGE', 'PTGENDER',
       'PTEDUCAT', 'WORK', 'PTETHCAT',
       ...
       'TAU_bl', 'PTAU_bl', 'FDG_bl', 'PIB_bl', 'AV45_bl', 'Years_bl',
       'Month_bl', 'Month', 'M', 'update_stamp'],
      dtype='object', length=109)

### Look at individual DataFrame components

Taken from: https://medium.com/dunder-data/selecting-subsets-of-data-in-pandas-6fcd0170be9c

*pandas* DataFrame are composed of three components. The **index**, **columns** and data (**values**). 
Let's extract each of these components into their own variables and inspect them:

In [10]:
index = data.index
index

RangeIndex(start=0, stop=14532, step=1)

In [11]:
columns = data.columns
columns

Index(['RID', 'VISCODE', 'SITE', 'EXAMDATE', 'DX_bl', 'AGE', 'PTGENDER',
       'PTEDUCAT', 'WORK', 'PTETHCAT',
       ...
       'TAU_bl', 'PTAU_bl', 'FDG_bl', 'PIB_bl', 'AV45_bl', 'Years_bl',
       'Month_bl', 'Month', 'M', 'update_stamp'],
      dtype='object', length=109)

In [12]:
values = data.values
values

array([[2, 'bl', 11, ..., 0, 0.0, '2019-12-04 04:19:56.0'],
       [3, 'bl', 11, ..., 0, 0.0, '2019-12-04 04:19:56.0'],
       [3, 'm06', 11, ..., 6, 6.0, '2019-12-04 04:19:56.0'],
       ...,
       [6136, 'm24', 41, ..., 24, 24.0, '2019-12-17 04:20:25.0'],
       [6610, 'm12', 6, ..., 12, 12.0, '2019-12-17 04:20:26.0'],
       [6834, 'bl', 16, ..., 0, 0.0, '2019-12-17 04:20:26.0']],
      dtype=object)

In [13]:
type(index)

pandas.core.indexes.range.RangeIndex

In [14]:
type(columns)

pandas.core.indexes.base.Index

In [15]:
type(values)

numpy.ndarray

Interestingly, both the `index` and the `columns` are the same type. They are both a *pandas* `Index` object. This object is quite powerful in itself, but for now you can just think of it as a sequence of labels for either the rows or the columns.

The `values`'s type is a *NumPy* `ndarray`, which stands for n-dimensional array, and is the primary container of data in the *NumPy* library. *pandas* is built directly on top of *NumPy* and it's this array that is responsible for the bulk of the workload.

### Subset data

We can select data from a DataFrame by label, by index or a combination of both using `[ ]`, `.loc` and `.iloc`.

In [16]:
# Select column by colu
data['PTGENDER']

0          Male
1          Male
2          Male
3          Male
4          Male
          ...
14527      Male
14528      Male
14529      Male
14530      Male
14531    Female
Name: PTGENDER, Length: 14532, dtype: object

#### Select data by row numbers (`iloc`)

The `iloc` indexer in `pandas` is used for integer-location based indexing / selection by position.

The `iloc` indexer syntax is `data.iloc[\<row selection\>, \<column selection\>]`, used to select rows and columns by number, in the order that they appear in the DataFrame.

There are two ways to use `.iloc` - via a row selector, and a column selector.

In [17]:
data.iloc[4]  # Get 5th row of DataFrame

RID                                 3
VISCODE                           m24
SITE                               11
EXAMDATE                   2007-09-12
DX_bl                              AD
                        ...
Years_bl                      1.99863
Month_bl                      23.9344
Month                              24
M                                  24
update_stamp    2019-12-04 04:19:56.0
Name: 4, Length: 109, dtype: object

In [18]:
data.iloc[:, 4]  # Get 5th column of DataFrame

0          CN
1          AD
2          AD
3          AD
4          AD
         ...
14527     SMC
14528    EMCI
14529      CN
14530    LMCI
14531     NaN
Name: DX_bl, Length: 14532, dtype: object

In [19]:
data.iloc[4, 4]  # Get element in 5th row of 5th columns

'AD'

In [20]:
data.iloc[3:5, 0:3]  # Get multiple rows/columns

   RID VISCODE  SITE
3    3     m12    11
4    3     m24    11

#### Select data by label or by a conditional statment (`loc`)

The `loc` indexer can be used with DataFrames for two different use cases:

* Selecting rows by label/index
* Selecting rows with a boolean / conditional lookup

The `loc` indexer is used with the same syntax as `iloc`: `data.loc[\<row selection\>, \<column selection\>]`.

In [21]:
data.loc[1]

RID                                 3
VISCODE                            bl
SITE                               11
EXAMDATE                   2005-09-12
DX_bl                              AD
                        ...
Years_bl                            0
Month_bl                            0
Month                               0
M                                   0
update_stamp    2019-12-04 04:19:56.0
Name: 1, Length: 109, dtype: object

In [22]:
data.loc[1:3, 'PTGENDER']

1    Male
2    Male
3    Male
Name: PTGENDER, dtype: object

#### Select data by ... (`[ ]`)

In [23]:
data['PTGENDER'].head()  # Returns Series

0    Male
1    Male
2    Male
3    Male
4    Male
Name: PTGENDER, dtype: object

In [24]:
data[['PTGENDER']].head()  # Returns DataFrame

  PTGENDER
0     Male
1     Male
2     Male
3     Male
4     Male

In [25]:
data[['PTGENDER', 'AGE']].head()

  PTGENDER   AGE
0     Male  74.3
1     Male  81.3
2     Male  81.3
3     Male  81.3
4     Male  81.3

### Apply

### Group data

### Write data

## 6. Discussion

TBA

## 7. Quiz

* TBA
* TBA
* TBA